/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s ease; /* Add a global transition for all properties */
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #2b2626; /* Light grey background, adjust as needed */
    width: 100%;
    overflow-x: hidden;
    height: 100vh;
}

.logo {
    font-size: 1.5rem;
}

.root {
    height: 100vh;
    width: 100vw;
}

header {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    color: #f4f4f4;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.4) ffff; /* White background for the nav */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0); /* Subtle shadow for depth */
    position: fixed;
    width: 100vw;
    z-index: 1000;
}

.status-container {
    max-width: 70vw;
    margin: 3.688rem auto;
    /* background-color: #fff; */
    padding: 1.25rem;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

.status-container p {
    position: relative; /* Allow layering above the overlay */
    z-index: 2; /* Make sure text is on top */
    font-size: 1rem;
}

/* h2 { */
/*     color: #007bff; */
/* } */

p {
    margin: 0.625rem 0;
}

.status-message {
    font-weight: bold;
    color: #28a745;
}

.available {
    z-index: 2; /* Make sure text is on top */
    position: relative;
    margin-top: 1.25rem;
    padding: 1.25rem;
    max-width: 100vw;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.available h2 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0.625rem;
}

.available-grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1.25rem;
    margin-top: 1.25rem;
    padding: 1.25rem;
}

.location {
    text-align: center;
    color: #fff;
    padding: 1.25rem;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 1.25rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline;
    padding: 0 1.25rem; /* Adjust spacing around navigation links */
}

.nav-links a {
    text-decoration: none;
    color: #dadada; /* Dark text for contrast */
    font-weight: 500;
}

footer {
    text-align: center;
    padding: 0.5rem 0;
    background-color: rgba(0, 0, 0, 0.4); /* Matching the nav */
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Shadow for depth, at the top */
    position: fixed;
    width: 100vw;
    bottom: 0;
    z-index: 1000;
}

footer p {
    color: #f8f5f5; /* Slightly lighter text color */
}

/* Styles for the main content area */
main {
    color: #f8f5f5; /* Slightly lighter text color */
    padding: 60px 10% 80px; /* Adjust top padding considering fixed header */
    min-height: 100vh; /* Ensures footer is at the bottom of the page */
}

.search-container > select {
    margin-right: 15px;
    max-width: 60%;
    font-size: 16px;
    height: 30%;
}

/* Specific page styling */
.intro,
.team-intro,
.search-container,
.team-members,
.status {
    margin-top: 1.25rem;
    padding: 1.25rem;
    background-color: rgba(
        0,
        0,
        0,
        0.1
    ); /* White background for content areas */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Shadow for depth */
    border-radius: 20px; /* Slightly rounded corners for a softer look */
}
.steps {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 2.5rem;
    background-color: rgba(
        0,
        0,
        0,
        0.3
    ); /* White background for content areas */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Shadow for depth */
    border-radius: 20px; /* Slightly rounded corners for a softer look */
}
.steps h1 {
    text-decoration-color: crimson;
}
.steps ol {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Shadow for depth */
    border-radius: 20px; /* Slightly rounded corners for a softer look */
}

.team-members {
    display: flex;
    align-items: center;
}

.team-members .member {
    margin: 2.5rem;
    text-align: center;
}

.team-photo {
    width: 120px; /* Adjust based on your actual images */
    height: 120px;
    border-radius: 50%; /* Circle frame */
    margin-bottom: 5px;
}

.search-container select,
.search-container button {
    padding: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-container button {
    background-color: #007bff; /* Bootstrap primary blue, adjust as needed */
    color: white;
    cursor: pointer;
    border: none;
    height: 30%;
    font-size: 16px;
}

.search-container button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.home,
.status-page {
    background: url("../assets/images/Ashesi's_Archer_Cornfield_Courtyard.jpg")
        no-repeat center center fixed;
    background-size: cover;
    width: 100vw;
    position: relative;
}

.status {
    z-index: 2;
}

/* The overlay should be a separate rule */
.home::after,
.status-page::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Black with 40% opacity */
    z-index: 1; /* Place behind the image */
}
.home h1,
.home p,
.search-container,
.status h1 {
    color: white; /* Ensure text is visible on the dark shade */
    position: relative; /* Allow layering above the overlay */
    z-index: 2; /* Make sure text is on top */
    text-align: center; /* Optional */
}

.indicator,
.course-name {
    color: white; /* Ensure text is visible on the dark shade */
    position: relative; /* Allow layering above the overlay */
    z-index: 2; /* Make sure text is on top */
    text-align: center;
}

.disclaimer {
    color: red !important;
    font-weight: bold;
    border-radius: 50%;
    animation: pulse 1.5s infinite;
}

.status {
    display: flex;
    flex-direction: column;
}

.back-button {
    text-decoration: none;
    z-index: 1000;
    position: relative;
}

.back-button:hover,
.state-button:hover {
    background-color: #91c6ff;
    cursor: pointer;
}

.state-buttons {
    display: flex;
    justify-content: space-between;
    width: 20vw;
    align-self: center;
    margin: 0.5rem;
    z-index: 1000;
}

.state-button,
.back-button {
    background-color: #007bff; /* Bootstrap primary blue, adjust as needed */
    color: white;
    border: none;
    margin: 0 1rem;
    padding: 0.4rem 0.5rem;
    border-radius: 0.5rem;
}

.state-button:disabled {
    background-color: #6c757d; /* Bootstrap secondary grey, adjust as needed */
    color: white;
}

.indicator,
.available-text {
    color: #28d841;
}

.indicator {
    font-size: 1.25rem;
    margin-top: 5vh;
}

.status-indicator {
    font-size: 1.2rem;
    text-align: center;
}

.how-it-works {
    background: url("../assets/images/how_it_works_bg.png") no-repeat center
        center fixed;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* The overlay should be a separate rule */
.how-it-works::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Black with 40% opacity */
    z-index: 1; /* Place behind the image */
    transition: opacity 0.5s ease-in-out; /* Add transition for opacity */
}
.how-it-works h1 {
    color: white; /* Ensure text is visible on the dark shade */
    position: relative; /* Allow layering above the overlay */
    z-index: 2; /* Make sure text is on top */
    text-align: center; /* Optional */
}
.how-it-works ol strong {
    line-height: 5;
    text-shadow: #1f1b1b;
    color: rgb(240, 15, 15); /* Ensure text is visible on the dark shade */
    position: relative; /* Allow layering above the overlay */
    z-index: 2; /* Make sure text is on top */
    text-align: center; /* Optional */
}

.how-it-works ol p {
    line-height: 2;
    color: white; /* Ensure text is visible on the dark shade */
    position: relative; /* Allow layering above the overlay */
    z-index: 2; /* Make sure text is on top */
    text-align: center; /* Optional */
}
.meet-the-team {
    background: url("../assets/images/team_bg.png") no-repeat center center
        fixed;
    background-size: cover;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 0.8rem;
    }
    header {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0rem;
        padding-right: 0rem;
        font-size: 0.8rem;
    }

    nav {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }

    .logo {
        font-size: 1rem;
        padding-left: 0.5rem;
    }

    .nav-links li {
        padding: 0 0.5rem;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-self: center;
        min-width: fit-content;
    }

    .available {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100vw;
    }

    .available-grid {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 60vw;
        max-width: 90vw;
    }

    .location {
        min-width: 70%;
    }

    .steps {
        padding: 2rem;
    }

    .team-members {
        display: flex;
        flex-direction: column;
    }

    .team-members .member {
        margin: 1rem;
    }

    .team-intro p {
        font-size: 0.9rem;
    }

    .location-name {
        font-size: 1.5rem;
    }

    .status-indicator {
        font-size: 1rem;
    }

    .course-name {
        font-size: 1.2rem;
    }

    .status-container {
        max-width: 70vw;
        margin: 3.688rem auto;
        padding: 1.25rem;
    }

    .status-container p {
        font-size: 0.9rem;
    }

    .state-buttons {
        width: 65vw;
    }

    .state-button {
        /* margin: 0 1rem; */
        padding: 0.3rem 0.6rem;
    }

    .back-button {
        padding: 0.2rem 0.4rem;
    }

    .intro,
    .team-intro,
    .search-container,
    .team-members,
    .status {
        margin-top: 1rem;
        padding: 1rem;
        background-color: rgba(
            0,
            0,
            0,
            0.1
        ); /* White background for content areas */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Shadow for depth */
        border-radius: 20px; /* Slightly rounded corners for a softer look */
    }
}
